@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300italic,400);

h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
.item-wrapper .item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.item-wrapper .item .title {
    font-family: 'Playfair Display', serif;
    flex-grow: 1;
    font-size: 18px;
}
.item-wrapper .item .space {
    flex-basis: 1;
    overflow: hidden;
    flex: 20;
    flex-shrink: 4;
    text-align: right;
    margin-right: 10px;
    margin-top: 16px;
    border-bottom: 1px dotted black;
    font-size: 0px;
}
.item-wrapper .item .price {
    font-family: 'Playfair Display', serif;
    min-width: 60px;
    align-self: felx-end;
}
.item-wrapper .description {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 80%;
}
 

/*
*   Number input
*/

.filter-group {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.filter-range {
    display: flex;
    align-items: center;
}

.filter-range svg {
    width: 2ch;
    height: 2ch;
    position: relative;
    border-radius: 50%;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.filter-range svg:hover {
    color: rgb(65, 190, 240);
    font-weight: bold;
    cursor: pointer;
}

.filter-range svg.bi-arrow-up-circle:hover {
    transform: translateY(-0.3ch);
}
.filter-range svg.bi-arrow-up-circle:active {
    transform: translateY(0.1ch);
}

.filter-range svg.bi-arrow-down-circle:hover {
    transform: translateY(0.3ch);
}
.filter-range svg.bi-arrow-down-circle:active {
    transform: translateY(-0.1ch);
}

#range-group {
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.filter-range input::-webkit-outer-spin-button,
.filter-range input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; 
    /* <-- Apparently some margin are still there even though it's hidden */
}

.filter-range input[type=number] {
    -moz-appearance:textfield; 
    /* Firefox */
    border: none;
    text-align: center;
    width: 5ch;
}


/*
*   Checkbox input
*/

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
   }
    100% {
        height: 1em;
   }
}
@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
   }
    100% {
        height: 1em;
   }
}
@keyframes dothabottomcheck {
    0% {
        height: 0;
   }
    100% {
        height: 1em;
   }
}
@keyframes dothatopcheck {
    0% {
        height: 0;
   }
    50% {
        height: 0;
   }
    100% {
        height: 2.3em;
   }
}
@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
   }
    50% {
        height: 0;
   }
    100% {
        height: 2.3em;
   }
}
@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
   }
    50% {
        height: 0;
   }
    100% {
        height: 2.3em;
   }
}

.form-checkbox {
    display: flex;
    justify-content: center;
}
.form-checkbox input[type=checkbox] {
    display: none;
}
.check-box {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 3px solid #000;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
}
.check-box:hover {
    transform: scale(1.05);
    border-radius: 6px;
}
.check-box:active {
    transform: scale(0.9);
}
.check-box::before, .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 6px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 1px;
    content: ' ';
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.check-box::before {
    top: 1.4em;
    left: 0.85em;
    
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.check-box::after {
    top: 0.7em;
    left: 0.08em;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type=checkbox]:checked + .check-box, .check-box.checked {
    border-color: #34b93d;
}
input[type=checkbox]:checked + .check-box::after, .check-box.checked::after {
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before, .check-box.checked::before {
    box-shadow: 0 0 0 0.15em white;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
}

/* Request Button */
.filter-btn-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filter-btn {
    flex: 1 1 0;
    flex-basis: 0;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 5%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.filter-btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.button-request {
    border-color: #414141;
    color: #fff;
    background-image: linear-gradient(135deg, #414141 50%, transparent 50%);
    background-position: 0%;
    background-size: 400%;
    transition: all 500ms ease-in-out;
}
.button-request:hover {
    background-position: 100%;
    color: #383838;
}
.button-set {
    border-color: #414141;
    color: #414141;
    background-image: linear-gradient(135deg, #414141 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all 500ms ease-in-out;
}
.button-set:hover {
    background-position: 0%;
    color: #fff;
}
