.container {
    min-height: 100vh;
    width: 95%;
    max-width: 620px;
    margin: auto;
    box-sizing: border-box;
}

.card-container {
    padding: 10px;
}

.card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}